<div class="row">
    <div class="col-lg-4">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.sortorder) }}
        {{ form_row(form.active) }}
        {{ form_end(form) }}
    </div>
</div>
